    @model ShaulisBlog.Models.Fan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._seniority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._seniority)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
