@model IEnumerable<ShaulisBlog.Models.Fan>

@{
    ViewBag.Title = "Fan Club Index";
}
<p>
    <h2>Fan Club</h2>
    @using (Html.BeginForm())
    {
        
        <table border="0" align="center">
            <tr>
                <th colspan="2">
                    <h3>Search Bar</h3>
                </th>
            </tr>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" name="firstName">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" name="lastName">
                </td>
            </tr>
            <tr>
                <td>
                    Gender:
                </td>
                <td>
                    @Html.DropDownList("gender", "All")<br />
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Filter" style="float: right;">
                </th>
            </tr>
        </table>
    }
    
</p>
<h4>@Html.ActionLink("Add New Fan to Club", "Create")</h4>
<table id="cssTable" border="1" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._seniority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._seniority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
