@model ShaulisBlog.Models.BlogPost

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
$(document).ready(function(){
    $('input[type="checkbox"]').click(function(){
        if($(this).attr("value")=="pic"){
            $("#imgbla").toggle();
        }
        if($(this).attr("value")=="vid"){
            $("#vidbla").toggle();
        }
    });
});
</script>

@if (User.IsInRole("Administrator"))
{
    <p>
        <h2>Create</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Create a Blog post</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model._title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._author, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._author, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._author, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._websiteOfAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._websiteOfAuthor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._websiteOfAuthor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model._text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model._text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._text, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div>
                    <label><input type="checkbox" name="pic" value="pic" id="pic" checked /> add picture </label>
                    <label><input type="checkbox" name="vid" value="vid" id="vid" checked /> add video </label>
                </div>

                <div class="form-group" id="imgbla">
                    @Html.LabelFor(model => model._image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._image, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="vidbla">
                    @Html.LabelFor(model => model._video, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._video, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model._video, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </p>
}

else
{
    <span> Restricted Area.Please Log-in as a Admin user!</span>
      <br/>
      @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

}