@model IEnumerable<ShaulisBlog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}
<h3>
    @Html.ActionLink("Create New Blog Post", "Create")
</h3>
<section>
    <form action="action_page.php">
        <table border="0">
            <tr>
                <th colspan="2">
                    <h3>Search Bar</h3>
                </th>
            </tr>
            <tr>
                <td>
                    From Date:
                </td>
                <td>
                    <input type="date" name="startDate" id="startDate">
                </td>
            </tr>
            <tr>
                <td>
                    To Date:
                </td>
                <td>
                    <input type="date" name="endDate" id="endDate">
                </td>
            </tr>
            <tr>
                <td>
                    Author:
                </td>
                <td>
                    <input type="text" name="author">
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    Key words:
                </td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    Minimum Comments:
                </td>
                <td>
                    <input type="range" name="points" min="1" max="10" value="5" step="1" list="options">
                    <datalist id="options">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Filter" style="float: right;">
                </th>
            </tr>
        </table>
    </form>
</section>


@foreach (var item in Model)
{
    <hr size="5" noshade>
    <section>
        <article class="blogPost">
            <header>
                <h2>@item._title</h2>
                <p>Posted on @item._releaseDate  by <a href="@item._websiteOfAuthor">@item._author</a> - <a href="#comments"> @item.Comments.Count  Comments</a></p>
            </header>
            <div>
                <p>@item._text</p>
            </div>
        </article>
    </section>

    <section>
        <p>
            <img src="@item._image" />
        </p>
        <p>
            <iframe width="420" height="345" src="@Url.Content(@item._video)"></iframe>
        </p>
    </section>
    <section id="comments">
        <h3> Comments </h3>
        @foreach (var comment in item.Comments)
        {
            <article>
                <header>
                    <a href="@comment._websiteOfAuthor">@comment._author</a>
                </header>
                <p style="font-weight:bold">@comment._title</p>
                <p>@comment._text</p>
            </article>
        }
    </section>
    using (Html.BeginForm("postComment", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Post a comment</h3>

        <input type="hidden" name="PostID" value="@item.ID" />
            <p>
                <label for="Title">Title</label>
                <input name="Title" id="Title" type="text" required />
            </p>
            <p>
                <label for="AuthorName">Author Name</label>
                <input name="AuthorName" id="AuthorName" type="text" required />
            </p>
            <p>
                <label for="AuthorSite">Your Site</label>
                <input name="AuthorSite" id="AuthorSite" type="url" />
            </p>
            <p>
                <label for="Content">Content</label>
                <textarea name="Content" id="Content" rows="5" cols="40" required></textarea>
            </p>
            <p><input type="submit" value="Post comment" /></p>
    }
}